/target/
/out/
/build/
/.idea/*
/.gradle/
/.talismanrc
.DS_Store
/logs/
/allure-results/
/gradlew.bat

HELP.md
.gradle/
build/
.idea/*
*.iws
*.iml
*.ipr
out/
kotlin-ultimate/
.rpt2_cache/
results
allure-results/
allure-reports/
allure-report/
tests/
docs/
